//
//  Main Layout
// --------------------------------------------------

.main-content {
    padding: 120px 45px 0 45px;
}

//
//  Friends
// --------------------------------------------------

.friends-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 135px;

    .card {
        margin: 0 16px;
    }
}

//
//  My Profile
// --------------------------------------------------

.my-profile {
    display: flex;

    .profile-box {
        margin-right: 75px;
    }
}

.my-activities {
    max-width: 700px;
    width: 100%;
}

.profile-charts {
    .chart-wrapper {
        margin-bottom: 25px;

        .chart-title {
            margin-top: 0;
        }
        .chart {
            width: 480px !important;
            height: 242px !important;
        }
    }
}