//
//  Main Layout
// --------------------------------------------------

.main-content {
    padding: 120px 45px 0 45px;
}


.section-header {
    flex: 1 0 100%;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #2E2E2E;

    &__title {
        font-size: 40px;
        margin: 0 20px 0 0;
    }
}

//
//  Friends
// --------------------------------------------------

.friends-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 135px;

    .card {
        margin: 0 16px 32px;
    }
}

//
//  Map
// --------------------------------------------------

.matches-wrapper {
    position: absolute;
    right: 40px;
    z-index: 2;
}

//
//  My Profile
// --------------------------------------------------

.my-profile {
    display: flex;
    justify-content: space-between;

    .profile-box {
        margin-right: 75px;
    }

    .my-activities {
        max-width: 900px;
        width: 100%;
        margin-right: 75px;
    }

    .profile-charts {
        .chart-wrapper {
            position: relative;
            margin-bottom: 40px;

            .chart-title {
                margin-top: 0;
                font-size: 40px;
                text-align: right;
                margin-bottom: 0;
                opacity: .1;
            }
            .chart {
                width: 480px !important;
                height: 242px !important;
                position: relative;
                z-index: 2;
            }
        }
    }
}

//
//  Preferences
// --------------------------------------------------

.preferences {
    display: flex;
    max-width: 100%;
    height: calc(80vh - 120px);
    min-height: 600px;
    margin: auto;

    .input-text {
        padding-left: 15px;
    }

    &__options {
        display: flex;
        flex-direction: column;
        flex: 0 1 20%;
        min-width: 200px;
        text-align: right;
        padding-top: 100px;
        padding-right: 70px;

        a,
        span {
            padding: 5px;
            margin-bottom: 10px;
        }
    }

    &__form {
        flex: 0 1 70%;
        padding-left: 70px;
        border-left: 1px solid #2E2E2E;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        .preferences__title {
            font-size: 40px;
            margin: 0 20px 0 0;
        }

        .btn--preferences-save {
            max-width: 91px;
            height: 32px;
        }
    }
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .input-wrapper {
            flex: 1 0 100%;
            margin-bottom: 30px;
        }
    }
}