//
//  Main Layout
// --------------------------------------------------

.main-content {
    padding: 120px 45px 0 45px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 135px;

    .card {
        margin: 0 16px;
    }
}

.my-profile {
    display: flex;

    .profile-box {
        margin-right: 75px;
    }
}

.my-activities {
    max-width: 700px;
    width: 100%;
}