<div class="card-wrapper">
    <article class="card card--male">
        <div class="card__img-wrapper">
            <div class="no-avatar">
                <span>AL</span>
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
    <article class="card card--male">
        <div class="card__img-wrapper">
            <div>
                <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="112" alt="">
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
    <article class="card card--female">
        <div class="card__img-wrapper">
            <div class="no-avatar">
                <span>ME</span>
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
    <article class="card card--male">
        <div class="card__img-wrapper">
            <div>
                <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="112" alt="">
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
    <article class="card card--male">
        <div class="card__img-wrapper">
            <div>
                <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="112" alt="">
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
    <article class="card card--female">
        <div class="card__img-wrapper">
            <div class="no-avatar">
                <span>AB</span>
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
    <article class="card card--female">
        <div class="card__img-wrapper">
            <div class="no-avatar">
                <span>BP</span>
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
    <article class="card card--male">
        <div class="card__img-wrapper">
            <div>
                <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="112" alt="">
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
    <article class="card card--male">
        <div class="card__img-wrapper">
            <div>
                <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="112" alt="">
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
    <article class="card card--female">
        <div class="card__img-wrapper">
            <div class="no-avatar">
                <span>MF</span>
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
    <article class="card card--male">
        <div class="card__img-wrapper">
            <div>
                <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="112" alt="">
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
    <article class="card card--male">
        <div class="card__img-wrapper">
            <div>
                <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="112" alt="">
            </div>
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
            <h2 class="card__info__title">Perfect Strangers</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    <li>Señorita</li>
                    <li>Blinding Lights</li>
                    <li>Sugar</li>
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="">Unmatch</a>
                <a href="">View Profile</a>
            </div>
        </div>
    </article>
</div>