{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}

<div class="box box--login absolutely-centered">
    <h2 class="box__title">Login</h2>
    <form class="box__form" action="/login" method="POST">
        <div class="input-wrapper">
            <label class="input-wrapper__label" for="username">Username:</label>
            <div class="input-wrapper__input">
                <i class="icon icon-user"></i>
                <input class="input-text" type="text" name="username" required autofocus>
            </div>
        </div>
        <div class="input-wrapper">
            <label class="input-wrapper__label" for="password">Password:</label>
            <div class="input-wrapper__input">
                <i class="icon icon-lock"></i>
                <input class="input-text" type="password" name="password" required>
            </div>
        </div>
        <div class="input-wrapper input-wrapper--last">
            <input class="btn btn--primary btn--with-shadow" type="submit" value="Log In">
        </div>
    </form>
</div>