<div id='map'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiaWduYWNpb2diMTk5MCIsImEiOiJjazc3dHp2OGQwOW41M2VwZDZqcGlheGFyIn0.4aizFUZI7lq90KhxZfvUBw';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    zoom: 12,
    center: [-3.6851124, 40.4456899]
  });





  var size = 80;


  var pulsingDot = {
    width: size,
    height: size,
    data: new Uint8Array(size * size * 4),

    // get rendering context for the map canvas when layer is added to the map
    onAdd: function () {
      var canvas = document.createElement('canvas');
      canvas.width = this.width;
      canvas.height = this.height;
      this.context = canvas.getContext('2d');
    },

    // called once before every frame where the icon will be used
    render: function () {
      var duration = 1500;
      var t = (performance.now() % duration) / duration;

      var radius = (size / 2) * 0.3;
      var outerRadius = (size / 2) * 0.7 * t + radius;
      var context = this.context;

      // draw outer circle
      context.clearRect(0, 0, this.width, this.height);
      context.beginPath();
      context.arc(
        this.width / 2,
        this.height / 2,
        outerRadius,
        0,
        Math.PI * 2
      );
      context.fillStyle = 'rgba(255, 200, 200,' + (1 - t) + ')';
      context.fill();

      context.beginPath();
      context.arc(
        this.width / 2,
        this.height / 2,
        radius,
        0,
        Math.PI * 2
      );
      context.fillStyle = 'rgba(255, 100, 100, 1)';
      context.strokeStyle = 'white';
      context.lineWidth = 2 + 4 * (1 - t);
      context.fill();
      context.stroke();

      this.data = context.getImageData(
        0,
        0,
        this.width,
        this.height
      ).data;
      map.triggerRepaint();

      return true;
    }
  };

  map.on('load', function () {
    map.addImage('pulsing-dot', pulsingDot, { pixelRatio: 2 });

    map.addSource('points', {
      'type': 'geojson',
      'data': {
        'type': 'FeatureCollection',
        'features': [
          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/women/82.jpg"><br><strong>Margot</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.6806426, 40.4641763]

            }
          },
          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/men/90.jpg"><br><strong>Adrien</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.6806426, 40.4641763]

            }
          },

          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/women/65.jpg"><br><strong>Maeva</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.6775118, 40.4181685]

            }
          },

          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/women/89.jpg"><br><strong>Lila</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.7287666, 40.4702098]

            }
          },

          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/women/93.jpg"><br><strong>Silvia</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.692049, 40.4658571]

            }
          },


          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/women/43.jpg"><br><strong>Daisy</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.6824795, 40.4219631]

            }
          },

          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/women/19.jpg"><br><strong>Sophie</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.6974001, 40.4524187]

            }
          },


          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/women/73.jpg"><br><strong>Adele</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.6392159, 40.4631333]

            }
          },

          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/men/72.jpg"><br><strong>Julian</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.7057999, 40.4518661]

            }
          },


          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/women/23.jpg"><br><strong>Misty</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.7083202, 40.423093]

            }
          },


          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/men/60.jpg"><br><strong>Alfred</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.6867364, 40.4601224]

            }
          },

          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/women/23.jpg"><br><strong>Chiara</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.6949302, 40.4010216]

            }
          },


          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/women/51.jpg"><br><strong>Maelys</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.6924296, 40.4251223]

            }
          },


          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/men/9.jpg"><br><strong>Ismael</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.7159634, 40.4390676]

            }
          },

          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/men/63.jpg"><br><strong>Joaquin</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.726689, 40.427977]

            }
          },

          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/men/92.jpg"><br><strong>Aitor</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.7304776, 40.4613439]

            }
          },


          {
            'type': 'Feature',
            'properties': {
              'description':
                '<img  width="100vw" height="100vh"src="https://randomuser.me/api/portraits/men/36.jpg"><br><strong>Ramon</strong>'

            },
            'geometry': {
              'type': 'Point',
              'coordinates': [-3.7150402, 40.4103102]

            }
          },


          /*
           {
             'type': 'Feature',
             'geometry': {
               'type': 'Point',
               'coordinates': [-3.6851124, 40.4456899]
 
             }
           },
           {
             'type': 'Feature',
             'geometry': {
               'type': 'Point',
               'coordinates': [-3.6754097, 40.4569816]
 
             }
           },
           {
             'type': 'Feature',
             'geometry': {
               'type': 'Point',
               'coordinates': [-3.6700987, 40.44825]
 
             }
           },
           {
             'type': 'Feature',
             'geometry': {
               'type': 'Point',
               'coordinates': [-3.7009534, 40.4348648]
 
             }
           },
           {
             'type': 'Feature',
             'geometry': {
               'type': 'Point',
               'coordinates': [-3.6848242, 40.4327656]
 
             }
           },
           {
             'type': 'Feature',
             'geometry': {
               'type': 'Point',
               'coordinates': [-3.6713801, 40.4278899]
 
             }
           },
 
 
 
 
 
 
 
 
 
           {
             'type': 'Feature',
             'geometry': {
               'type': 'Point',
               'coordinates': [-3.6866882, 40.4152606]
 
             }
           }
 */
        ]
      }
    });
    map.addLayer({
      'id': 'points',
      'type': 'symbol',
      'source': 'points',
      'layout': {
        'icon-image': 'pulsing-dot',
        'icon-allow-overlap': true
      }
    });
  });



  map.on('click', 'points', function (e) {
    var coordinates = e.features[0].geometry.coordinates.slice();
    var description = e.features[0].properties.description;

    // Ensure that if the map is zoomed out such that multiple
    // copies of the feature are visible, the popup appears
    // over the copy being pointed to.
    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
      coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    }

    new mapboxgl.Popup()
      .setLngLat(coordinates)
      .setHTML(description)
      .addTo(map);
  });

  // Change the cursor to a pointer when the mouse is over the places layer.
  map.on('mouseenter', 'points', function () {
    map.getCanvas().style.cursor = 'pointer';
  });

  // Change it back to a pointer when it leaves.
  map.on('mouseleave', 'points', function () {
    map.getCanvas().style.cursor = '';
  });




</script>