<div class="my-profile">
    <section class="profile-box">
        <article class="card card--male card--profile">
            <div class="card__img-wrapper">
                <div class="no-avatar">
                    <span>JW</span>
                </div>
                <span class="badge badge--music">
                    <i class="icon icon-music"></i>
                </span>
            </div>
            <div class="card__info">
                <h2 class="card__info__title">John White</h2>
                <section class="card__info__text">
                    <h3 class="card__info__small-title">Favourite genres</h3>
                    <div class="tag-wrapper">
                        <span class="tag">Rock</span>
                        <span class="tag">Alternative</span>
                        <span class="tag">Dancehall</span>
                        <span class="tag">K-pop</span>
                        <span class="tag">Rock</span>
                        <span class="tag">Metal</span>
                    </div>
                </section>
                <section class="card__info__currently-playing">
                    <span class="badge badge--music">
                        <i class="icon icon-music"></i>
                    </span>
                    <div>
                        <h3 class="card__info__subtitle">Jonas Blue, JP Cooper</h3>
                        <h2 class="card__info__title">Perfect Strangers</h2>
                    </div>
                </section>
                <section class="card__info__recently-played">
                    <i class="icon icon-headphones"></i>
                    <h3 class="card__info__secondary-title">Recently Played</h3>
                    <ul class="unstyled-list">
                        <li>Señorita</li>
                        <li>Blinding Lights</li>
                        <li>Sugar</li>
                        <li>Grip</li>
                        <li>Selfish</li>
                        <li>Ritual</li>
                        <li>Only Human</li>
                        <li>Orphans</li>
                        <li>We Can Do Better</li>
                        <li>Something Unreal</li>
                        <li>Indeciso</li>
                    </ul>
                </section>
            </div>
        </article>
    </section>

    <section class="my-activities">
        <article class="post-box">
            <div class="post-box__type-icon">
                <i class="icon icon-headphones"></i>
            </div>
            <h4 class="post-box__type">Music</h4>
            <time class="post-box__time">
                <i class="icon icon-clock"></i>
                <span>6 days ago</span>
            </time>
            <div class="post-box__body">
                <div class="music-activity">
                    <h3 class="music-activity__artist">Austin</h3>
                    <h2 class="music-activity__title">In Betweenin’</h2>
                </div>
            </div>
        </article>
        <article class="post-box">
            <div class="post-box__type-icon">
                <i class="icon icon-align-left"></i>
            </div>
            <h4 class="post-box__type">Post</h4>
            <time class="post-box__time">
                <i class="icon icon-clock"></i>
                <span>6 days ago</span>
            </time>
            <div class="post-box__body">
                <div class="post-activity">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa delectus cum harum molestiae possimus, praesentium beatae repudiandae nam at eius, eum omnis id ut magnam
                        inventore veritatis doloremque, expedita laboriosam?</p>
                </div>
            </div>
        </article>
        <article class="post-box">
            <div class="post-box__type-icon">
                <i class="icon icon-headphones"></i>
            </div>
            <h4 class="post-box__type">Music</h4>
            <time class="post-box__time">
                <i class="icon icon-clock"></i>
                <span>6 days ago</span>
            </time>
            <div class="post-box__body">
                <div class="music-activity">
                    <h3 class="music-activity__artist">Austin</h3>
                    <h2 class="music-activity__title">In Betweenin’</h2>
                </div>
            </div>
        </article>
    </section>
</div>