* {
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font: 16px "Ubuntu", sans-serif;
  color: #fff;
  background-color: #181818;
  padding: 0;
  margin: 0; }

a {
  color: #58FFBC; }
  a:hover, a:focus, a:active {
    outline: 0; }

.absolutely-centered, .card .no-avatar span, .card__img-wrapper div, .card__img, .card--horizontal .no-avatar span, .card--horizontal .card__img-wrapper div, .card--horizontal .card__img, .post-box__type-icon .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.truncate-text {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap; }

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.btn {
  max-width: 325px;
  width: 100%;
  padding: 22px 0;
  font: 14px 'Ubuntu', sans-serif;
  letter-spacing: 0;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  box-shadow: none;
  transition: background-color .35s, color .35s; }
  .btn--primary {
    background-color: #58FFBC;
    color: #1B5D43;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 5px 7px 4px rgba(0, 0, 0, 0.15); }
    .btn--primary:hover {
      background-color: #46D69D; }
    .btn--primary:active {
      top: 1px; }
  .btn--with-shadow {
    box-shadow: 0 5px 7px 4px rgba(0, 0, 0, 0.15); }

.main-navbar {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 70px;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  border-bottom: 1px solid #000000; }
  .main-navbar__logo {
    flex: 1 0 25%; }
  .main-navbar__wrapper {
    display: inline-flex;
    flex: 1 0 75%;
    justify-content: flex-end; }
  .main-navbar__link {
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-left: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none; }
    .main-navbar__link:hover {
      color: #58FFBC; }
    .main-navbar__link--user-profile {
      color: #58FFBC;
      font-size: 12px;
      margin-left: 60px;
      display: flex;
      align-items: center; }
    .main-navbar__link .avatar-wrapper {
      display: inline-block;
      width: 38px;
      height: 38px;
      margin-left: 10px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #58FFBC; }

.input-wrapper {
  margin-bottom: 20px; }
  .input-wrapper--last {
    margin-top: 40px; }
  .input-wrapper__label {
    font-size: 14px;
    color: #D3D3D3;
    letter-spacing: 0;
    display: block;
    margin-bottom: 10px; }
  .input-wrapper__input {
    position: relative; }
    .input-wrapper__input .icon {
      color: #58FFBC;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%); }
    .input-wrapper__input .input-text {
      padding-left: 40px; }

.input-text {
  background-color: #171819 !important;
  color: #D3D3D3;
  width: 100%;
  height: 45px;
  font-size: 14px;
  padding: 0 14px;
  border: 1px solid #2E2E2E;
  border-radius: 5px;
  box-shadow: none;
  transition: border .35s; }
  .input-text:hover {
    border: 1px solid rgba(88, 255, 188, 0.5); }
  .input-text:active, .input-text:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #58FFBC; }

.box {
  background-image: linear-gradient(180deg, rgba(24, 26, 26, 0) 0%, #212223 33%);
  border-radius: 4px;
  max-width: 380px;
  width: 100%;
  padding: 32px;
  border-radius: 4px; }
  .box::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 60%;
    z-index: -1; }
  .box__title {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -1.7px;
    margin: -100px 0 35px 0;
    line-height: normal; }

.card {
  background: #101010;
  width: 280px;
  display: flex;
  flex-direction: column;
  border: 1px solid #3D3D3D;
  border-radius: 2px;
  margin-bottom: 35px; }
  .card .no-avatar {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    position: relative; }
    .card .no-avatar span {
      font-size: 38px;
      font-weight: bold; }
  .card__img-wrapper {
    width: 130px;
    height: 130px;
    margin: 35px auto 10px;
    border-radius: 50%;
    position: relative; }
    .card__img-wrapper div {
      display: block;
      width: 112px;
      height: 112px;
      border-radius: 50%;
      overflow: hidden; }
    .card__img-wrapper .badge {
      position: absolute;
      right: 0;
      bottom: 0; }
  .card__info {
    text-align: center;
    margin-bottom: 25px; }
    .card__info .tag-wrapper {
      padding-left: 20px;
      padding-right: 20px; }
    .card__info__subtitle {
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .card__info__title {
      font-size: 22px;
      font-weight: 500;
      color: #58FFBC;
      text-align: center;
      margin-top: 0; }
    .card__info__text {
      font-size: 16px;
      line-height: 24px;
      color: #C7C7C7;
      text-align: center; }
    .card__info__small-title {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      color: #58FFBC;
      margin-bottom: 7px; }
    .card__info__secondary-title {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: #58FFBC; }
    .card__info__recently-played {
      padding: 0 20px 10px 20px; }
      .card__info__recently-played .icon-headphones {
        font-size: 28px; }
      .card__info__recently-played ul {
        color: #C7C7C7;
        line-height: 24px;
        font-size: 16px; }
  .card__footer {
    margin-top: auto; }
    .card__footer__button {
      border-top: 1px solid #3D3D3D;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      .card__footer__button a {
        font-size: 12px;
        font-weight: 500;
        color: #AFAFAF;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px; }
        .card__footer__button a:first-child {
          border-right: 1px solid #3D3D3D; }
  .card--male .card__img-wrapper {
    border: 5px solid #58FFBC; }
  .card--male .no-avatar {
    background-color: #118977; }
  .card--female .card__img-wrapper {
    border: 5px solid #A558FF; }
  .card--female .no-avatar {
    background-color: #5C16AE; }
  .card--profile .card__img-wrapper {
    width: 170px;
    height: 170px;
    margin: 35px auto 25px; }
    .card--profile .card__img-wrapper div {
      width: 150px;
      height: 150px; }
    .card--profile .card__img-wrapper .badge {
      width: 40px;
      height: 40px;
      right: 2px;
      bottom: 2px; }
  .card--profile .card__info {
    margin-bottom: 25px; }
    .card--profile .card__info__title {
      font-size: 26px;
      color: #fff; }
    .card--profile .card__info__currently-playing {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 0;
      padding: 30px 0;
      border-top: 1px solid #3D3D3D;
      border-bottom: 1px solid #3D3D3D; }
      .card--profile .card__info__currently-playing .badge {
        width: 36px;
        height: 36px;
        margin-right: 10px; }
      .card--profile .card__info__currently-playing div {
        max-width: 180px; }
      .card--profile .card__info__currently-playing .card__info__subtitle {
        font-size: 11px;
        text-align: left;
        margin-top: 0; }
      .card--profile .card__info__currently-playing .card__info__title {
        font-size: 20px;
        text-align: left;
        color: #58FFBC;
        margin-bottom: 0; }
  .card--profile.card--male .card__img-wrapper {
    border: 5px solid #58FFBC;
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.87); }
  .card--profile.card--female .card__img-wrapper {
    border: 5px solid #A558FF;
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.87); }
  .card--horizontal {
    width: 416px;
    padding: 22px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; }
    .card--horizontal .no-avatar {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      position: relative; }
      .card--horizontal .no-avatar span {
        font-size: 24px;
        font-weight: bold; }
    .card--horizontal .card__img-holder {
      flex: 0 1 28%; }
    .card--horizontal .card__img-wrapper {
      width: 82px;
      height: 82px;
      margin: 0;
      border-radius: 50%;
      position: relative; }
      .card--horizontal .card__img-wrapper div {
        display: block;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        overflow: hidden; }
      .card--horizontal .card__img-wrapper .badge {
        position: absolute;
        right: 0;
        bottom: 0; }
    .card--horizontal .card__info {
      flex: 0 1 57%;
      text-align: left;
      margin-bottom: 0; }
      .card--horizontal .card__info__title {
        text-align: left;
        margin-bottom: 5px;
        font-size: 23px;
        color: #fff; }
      .card--horizontal .card__info .tag-wrapper {
        padding-left: 0;
        padding-right: 0; }
    .card--horizontal .card__status {
      flex: 0 1 15%;
      text-align: center; }
      .card--horizontal .card__status .badge.badge--music {
        width: 40px;
        height: 40px; }
        .card--horizontal .card__status .badge.badge--music .icon {
          font-size: 20px; }
  .card--friend .card__info {
    padding: 0 25px; }
  .card--map-bubble {
    background: transparent;
    width: 100%;
    border: none;
    border-radius: 0;
    margin-bottom: 0; }
    .card--map-bubble .card__img-wrapper {
      margin: 0; }

.badge {
  background-color: #777;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
  .badge--music {
    background-image: linear-gradient(206deg, #F127A2 0%, #FD29A6 95%);
    font-size: 17px; }
  .badge--offline {
    width: 48px;
    height: 48px;
    font-size: 19px;
    opacity: .7; }

.tag {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 6px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  margin-bottom: 2px; }
  .tag--small {
    font-size: 10px;
    padding: 2px 4px; }

.post-box {
  background-image: linear-gradient(228deg, #000 0%, #000 100%);
  position: relative;
  padding: 28px 22px 25px 80px;
  margin-bottom: 60px;
  border: 2px solid #3D3D3D;
  border-radius: 8px;
  transition: background-image .4s, box-shadow .4s, border-color .4s; }
  .post-box:not(:first-child)::after {
    content: '';
    display: block;
    background-color: #3D3D3D;
    width: 2px;
    height: 60px;
    position: absolute;
    top: -61px;
    left: 50px;
    z-index: -1; }
  .post-box__type-icon {
    background: #101010;
    color: #B2B2B2;
    width: 60px;
    height: 60px;
    border: 2px solid #3D3D3D;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 20px; }
    .post-box__type-icon .icon {
      font-size: 26px; }
  .post-box__type {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #C899FF;
    margin: 0 0 10px; }
  .post-box__time {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #B2B2B2;
    position: absolute;
    top: 20px;
    right: 20px; }
    .post-box__time i {
      padding-right: 5px; }
    .post-box__time span {
      text-transform: uppercase; }
  .post-box:hover {
    background-image: linear-gradient(228deg, #F027F1 0%, #FD29A6 100%);
    box-shadow: 2px 2px 10px 2px rgba(204, 83, 83, 0.84);
    border-color: transparent; }
    .post-box:hover * {
      color: #fff; }
    .post-box:hover .post-box__type-icon {
      background-image: linear-gradient(206deg, #F19327 0%, #FD29A6 95%);
      box-shadow: 1px 3px 4px 0 rgba(255, 255, 255, 0.5);
      border-color: transparent; }

.music-activity__artist {
  font-size: 16px;
  font-weight: 500;
  color: #58FFBC;
  margin: 0 0 3px; }

.music-activity__title {
  font-size: 24px;
  font-weight: 500;
  color: #EDEDED;
  margin: 0; }

.post-activity {
  color: #EDEDED;
  font-style: italic;
  font-size: 16px;
  line-height: 24px; }
  .post-activity p {
    margin-bottom: 0; }

#map {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }

.mapboxgl-popup-content {
  background: transparent; }

.mapboxgl-popup-content {
  padding: 0; }

.main-content {
  padding: 120px 45px 0 45px; }

.friends-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 135px; }
  .friends-card-wrapper .card {
    margin: 0 16px; }

.my-profile {
  display: flex; }
  .my-profile .profile-box {
    margin-right: 75px; }

.my-activities {
  max-width: 700px;
  width: 100%; }

.profile-charts .chart-wrapper {
  margin-bottom: 25px; }
  .profile-charts .chart-wrapper .chart-title {
    margin-top: 0; }
  .profile-charts .chart-wrapper .chart {
    width: 480px !important;
    height: 242px !important; }

.image-size {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.container {
  border: 1px solid silver;
  display: flex; }

.nowrap {
  flex-wrap: wrap; }

.flex-item {
  width: 416px;
  height: 568px;
  background: grey;
  font-size: 10px; }

/*# sourceMappingURL=style.css.map */