// Variables, Media Query & Base
@import "config/_variables.scss";
@import "config/_media-queries.scss";
@import "config/_base.scss";
@import "config/_general-classes.scss";

// Website Components
@import "components/_feather-icons.scss";
@import "components/_buttons.scss";
@import "components/_nav.scss";
@import "components/_form.scss";
@import "components/_box.scss";
@import "components/_card.scss";
@import "components/_badge.scss";
@import "components/_tag.scss";
@import "components/_post-box.scss";


.image-size{
  width:40px;
  height:40px;
  border-radius: 50%;
  
}

#chartSize{

  float:right;
  margin-right: 50px;
}

#myChart,#myChart2,#myChart3{
  width:430px !important;
  height:200px !important;
}

.container{
  // padding: 0;
  // margin: 0;
  // list-style: none;
   border: 1px solid silver;
  // -ms-box-orient: horizontal;
  // display: -webkit-box;
  // display: -moz-box;
  // display: -ms-flexbox;
  // display: -moz-flex;
  // display: -webkit-flex;
  display: flex;
  
}

.nowrap  { 
  // -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  width: 416px;
  height: 568px;
  background: grey;

  // padding: 1px;
  // margin: 1px;
  
  // line-height: 10px;
  // color: white;
  // font-weight: bold;
  font-size: 10px;
  // text-align: center;

}
// Website Sections

#map{
width:100vw;
height:100vh;
position:fixed;
top:0;
left:0;
}
@import "layout/_layouts.scss";
