// Variables, Media Query & Base
@import "config/_variables.scss";
@import "config/_media-queries.scss";
@import "config/_base.scss";
@import "config/_general-classes.scss";

// Website Components
@import "components/_feather-icons.scss";
@import "components/_buttons.scss";
@import "components/_nav.scss";
@import "components/_form.scss";
@import "components/_box.scss";
@import "components/_card.scss";
@import "components/_badge.scss";
@import "components/_tag.scss";
@import "components/_post-box.scss";
@import "components/_mapbox.scss";
@import "components/_modals.scss";

// Website Sections
@import "layout/_layouts.scss";


.image-size{
  width:40px;
  height:40px;
  border-radius: 50%;

}

.container{
  // padding: 0;
  // margin: 0;
  // list-style: none;
   border: 1px solid silver;
  // -ms-box-orient: horizontal;
  // display: -webkit-box;
  // display: -moz-box;
  // display: -ms-flexbox;
  // display: -moz-flex;
  // display: -webkit-flex;
  display: flex;

}

.nowrap  {
  // -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  width: 416px;
  height: 568px;
  background: grey;

  // padding: 1px;
  // margin: 1px;

  // line-height: 10px;
  // color: white;
  // font-weight: bold;
  font-size: 10px;
  // text-align: center;

}