//
// Buttons
// --------------------------------------------------

.btn {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0;
    text-align: center;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    text-decoration: none;
    box-shadow: none;
    transition: background-color .35s, color .35s;

    &--primary {
        background-color: #58FFBC;
        color: #1B5D43;
        font-weight: 500;
        text-transform: uppercase;
        box-shadow: 0 5px 7px 4px rgba(0,0,0,0.15);

        &:hover {
            background-color: #46D69D;
        }

        &:active {
            top: 1px;
        }
    }

    &--secondary {
        background: #923bf5;
        color: #fff;
        border-radius: 2px;

        &:hover {
            background-color: #710fe0;
        }
    }

    &--sm {
        max-width: auto;
        width: auto;
        display: inline-block;
        padding: 4px 8px;
        font-size: 13px;
    }

    &--lg {
        max-width: 325px;
        padding: 22px 0;
        font-size: 14px;
    }

    &--with-shadow {
        box-shadow: 0 5px 7px 4px rgba(0,0,0,0.15);
    }

    &--box--new-post {
        max-width: 100px;
        padding: 16px 0;
        font-size: 14px;
    }
}