//
// Form
// --------------------------------------------------

.input-wrapper {
    margin-bottom: 20px;

    &--last {
        margin-top: 40px;
    }

    &__label {
        font-size: 14px;
        color: $lighter-gray;
        letter-spacing: 0;
        display: block;
        margin-bottom: 10px;
    }

    &__input {
        position: relative;

        .icon {
            color: #58FFBC;
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
        }

        .input-text {
            padding-left: 40px;
        }
    }
}

.input-text {
    background-color: #171819 !important;
    color: #D3D3D3;
    width: 100%;
    height: 45px;
    font-size: 14px;
    padding: 0 14px;
    border: 1px solid #2E2E2E;
    border-radius: 5px;
    box-shadow: none;
    transition: border .35s;

    &:hover {
        border: 1px solid rgba(#58FFBC, .5);
    }

    &:active,
    &:focus {
        box-shadow: none;
        outline: none;
        border: 1px solid #58FFBC;
    }
}

.box--new-post__textarea {
    width: 100%;
    height: 80px;
    resize: none;
    background: #171819;
    border: 1px solid #2E2E2E;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    color: #fff;
    line-height: 18px;
    padding: 12px;

    &:hover {
        border: 1px solid rgba(#58FFBC, .5);
    }

    &:active,
    &:focus {
        box-shadow: none;
        outline: none;
        border: 1px solid #58FFBC;
    }
}

.switch {
    position: relative;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
    }

    span {
        position: relative;
        color: #888;
        user-select: none;

        &:before {
            content: '';
            display: inline-block;
            background: #C5C5C5;
            width: 24px;
            height: 14px;
            border-radius: 6.5px;
            margin-right: 10px;
            position: relative;
            top: 2px;
        }

        &:after {
            content: '';
            display: block;
            background: #212223;
            width: 12px;
            height: 12px;
            border: 1px solid #B5B4B4;
            border-radius: 50%;
            position: absolute;
            top: 3px;
            left: 0;
            transition: left .2s;
        }
    }

    input[type="checkbox"]:checked ~ span {
        &:before {
            background: #58FFBC;
        }

        &:after {
            left: 12px;
        }
    }
}