//
//  MapBox
// --------------------------------------------------

#map {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.mapboxgl-popup-content {
    background: transparent;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    //border-top-color: transparent;
}

.mapboxgl-popup-content {
    padding: 0;
}