//
//  Post Box
// --------------------------------------------------

.post-box {
    background-image: linear-gradient(228deg, #000 0%, #000 100%);
    position: relative;
    padding: 28px 22px 25px 80px;
    margin-bottom: 60px;
    border: 2px solid #3D3D3D;
    border-radius: 8px;
    transition: background-image .4s, box-shadow .4s, border-color .4s;

    &:not(:first-child)::after {
        content: '';
        display: block;
        background-color: #3D3D3D;
        width: 2px;
        height: 60px;
        position: absolute;
        top: -61px;
        left: 50px;
        z-index: -1;
    }

    &__type-icon {
        background: #101010;
        color: #B2B2B2;
        width: 60px;
        height: 60px;
        border: 2px solid #3D3D3D;
        border-radius: 50%;
        position: absolute;
        top: -30px;
        left: 20px;

        .icon {
            @extend .absolutely-centered;
            font-size: 26px;
        }
    }

    &__type {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        color: #C899FF;
        margin: 0 0 10px;
    }

    &__time {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #B2B2B2;
        position: absolute;
        top: 20px;
        right: 20px;

        i {
            padding-right: 5px;
        }

        span {
            text-transform: uppercase;
        }
    }

    &:hover {
        background-image: linear-gradient(228deg, #F027F1 0%, #FD29A6 100%);
        box-shadow: 2px 2px 10px 2px rgba(204,83,83,0.84);
        border-color: transparent;

        * {
            color: #fff;
        }

        .post-box__type-icon {
            background-image: linear-gradient(206deg, #F19327 0%, #FD29A6 95%);
            box-shadow: 1px 3px 4px 0 rgba(255,255,255,0.50);
            border-color: transparent;
        }

    }
}

// Music
.music-activity {
    &__artist {
        font-size: 16px;
        font-weight: 500;
        color: #58FFBC;
        margin: 0 0 3px;
    }
    &__title {
        font-size: 24px;
        font-weight: 500;
        color: #EDEDED;
        margin: 0;
    }
}

// Post
.post-activity {
    color: #EDEDED;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;

    p {
        margin-bottom: 0;
    }
}