//
//  Tag
// --------------------------------------------------

.tag {
    background-color: rgba(255,255,255,.3);
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 6px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    margin-bottom: 2px;
}