//
// Variables
// --------------------------------------------------

// Site Colors
$main-color: #58FFBC;
$secondary-color: #A558FF;
$terciary-color: #F127A2;

$black-color: #000;
$white-color: #fff;

$dark-gray: #101010;
$medium-gray: #181818;
$light-gray: #777;
$lighter-gray: #D3D3D3;

// Fonts
$mainFont: 'Ubuntu', sans-serif;
$baseFontSize: 16px;
$baseFontColor: $white-color;
$baseLineHeight: 26px;

//Vertical Spacing
$vSpace: 15px;