<div class="box box--error">
    <h2 class="box__title">Please, login first!</h2>
    <div class="box__info">
        <p>In order to access IronSpoty, you need to accept spotify's permissions to enter the application. IronSpoty needs to access some of your spotify account's information. Please, click below to
            login and try again.</p>
        <a class="btn btn--primary btn--sm" href="/login">Click to login</a>
    </div>
</div>